body{
    background-color: white;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    padding: 24px;
}

.gallery-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-description{
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}